# Exploratory Data Analysis and Visualization of Films from 1980-2020

This project focuses on conducting exploratory data analysis and data visualization of films produced between 1980-2020. The project aims to analyze and explore the relationships between various features of the films, such as the genre, rating, budget, gross, director, writer, and runtime.

By conducting exploratory data analysis, we can identify trends, patterns, and relationships within the dataset, which can then be visualized using various data visualization techniques such as bar charts, scatter plots, and histograms. This will help to better understand the characteristics of the films produced during this period, and enable us to make predictions about future films.

## Imports and Reading Data

In [256]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
# Make float values look better
# We will use USA and UK format system
pd.options.display.float_format = '{:,.2f}'.format
sns.set_style('darkgrid')
sns.set_palette("Set2")

In [257]:
df = pd.read_csv('movies.csv')

## Data Understanding

- head()
- tail()
- info()
- Dataframe shape
- describe()
- isna()

In [258]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.40,"927,000.00",Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,"19,000,000.00","46,998,772.00",Warner Bros.,146.00
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.80,"65,000.00",Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,"4,500,000.00","58,853,106.00",Columbia Pictures,104.00
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.70,"1,200,000.00",Irvin Kershner,Leigh Brackett,Mark Hamill,United States,"18,000,000.00","538,375,067.00",Lucasfilm,124.00
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.70,"221,000.00",Jim Abrahams,Jim Abrahams,Robert Hays,United States,"3,500,000.00","83,453,539.00",Paramount Pictures,88.00
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.30,"108,000.00",Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,"6,000,000.00","39,846,344.00",Orion Pictures,98.00

In [259]:
df.tail()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.10,18.00,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,"7,000.00",NaN,NaN,90.00
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.70,36.00,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.00
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.70,29.00,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,"58,750.00",NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,"15,000.00",NaN,NaN,120.00
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.70,7.00,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.00

In [260]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

In [261]:
df.describe()

          year    score        votes         budget            gross  runtime
count 7,668.00 7,665.00     7,665.00       5,497.00         7,479.00 7,664.00
mean  2,000.41     6.39    88,108.50  35,589,876.19    78,500,541.02   107.26
std      11.15     0.97   163,323.76  41,457,296.60   165,725,124.32    18.58
min   1,980.00     1.90         7.00       3,000.00           309.00    55.00
25%   1,991.00     5.80     9,100.00  10,000,000.00     4,532,055.50    95.00
50%   2,000.00     6.50    33,000.00  20,500,000.00    20,205,757.00   104.00
75%   2,010.00     7.10    93,000.00  45,000,000.00    76,016,691.50   116.00
max   2,020.00     9.30 2,400,000.00 356,000,000.00 2,847,246,203.00   366.00

In [262]:
df.isna().sum()

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [263]:
# Converting the count of null values to a percentage
df.isna().sum() / df.shape[0] * 100

name        0.00
rating      1.00
genre       0.00
year        0.00
released    0.03
score       0.04
votes       0.04
director    0.00
writer      0.04
star        0.01
country     0.04
budget     28.31
gross       2.46
company     0.22
runtime     0.05
dtype: float64

## Data Preparation

- Identifying duplicated columns
- Deleting and filling some missing values

In [264]:
# Select duplicate rows in a DataFrame. (There is no duplicated rows)
df.loc[df.duplicated(subset = ['name','year','director'])]

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company, runtime]
Index: []

In [265]:
df[df['budget'].isna()]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
16,Fame,R,Drama,1980,"May 16, 1980 (United States)",6.60,"21,000.00",Alan Parker,Christopher Gore,Eddie Barth,United States,NaN,"21,202,829.00",Metro-Goldwyn-Mayer (MGM),134.00
19,Stir Crazy,R,Comedy,1980,"December 12, 1980 (United States)",6.80,"26,000.00",Sidney Poitier,Bruce Jay Friedman,Gene Wilder,United States,NaN,"101,300,000.00",Columbia Pictures,111.00
24,Urban Cowboy,PG,Drama,1980,"June 6, 1980 (United States)",6.40,"14,000.00",James Bridges,Aaron Latham,John Travolta,United States,NaN,"46,918,287.00",Paramount Pictures,132.00
25,Altered States,R,Horror,1980,"December 25, 1980 (United States)",6.90,"33,000.00",Ken Russell,Paddy Chayefsky,William Hurt,United States,NaN,"19,853,892.00",Warner Bros.,102.00
26,Little Darlings,R,Comedy,1980,"March 21, 1980 (United States)",6.50,"5,100.00",Ron Maxwell,Kimi Peck,Tatum O'Neal,United States,NaN,"34,326,249.00",Stephen Friedman/Kings Road Productions,96.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7657,Leap,NaN,Drama,2020,"September 25, 2020 (United States)",6.70,903.00,Peter Ho-Sun Chan,Ji Zhang,Gong Li,China,NaN,"25,818,882.00",NaN,135.00
7659,I Am Fear,Not Rated,Horror,2020,"March 3, 2020 (United States)",3.40,447.00,Kevin Shulman,Kevin Shulman,Kristina Klebe,United States,NaN,"13,266.00",Roxwell Films,87.00
7660,Aloha Surf Hotel,NaN,Comedy,2020,"November 5, 2020 (United States)",7.10,14.00,Stefan C. Schaefer,Stefan C. Schaefer,Augie Tulba,United States,NaN,NaN,Abominable Pictures,90.00
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.70,36.00,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.00
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.70,7.00,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.00

### Deleting Some Values (Rating / Gross)

- Missing rating values are 77 (1.004173 %)

- Missing gross values are 189 (2.464789 %)

In [266]:
df.dropna(subset = ['rating'],inplace = True)

In [267]:
df.dropna(subset = ['gross'], inplace = True)

In [268]:
df.isna().sum()

name           0
rating         0
genre          0
year           0
released       0
score          0
votes          0
director       0
writer         3
star           0
country        0
budget      2001
gross          0
company        9
runtime        1
dtype: int64

### Filling Missing Values

- director column
- budget column
- company column
- writer column
- runtime column
- released column

In [269]:
# I accidentally discovered these rows..
df[df['director'] == 'Directors']

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
117,The Fox and the Hound,G,Animation,1981,"July 10, 1981 (United States)",7.30,"87,000.00",Directors,Daniel P. Mannix,Mickey Rooney,United States,"12,000,000.00","63,456,988.00",Walt Disney Animation Studios,83.00
317,Bugs Bunny's 3rd Movie: 1001 Rabbit Tales,G,Animation,1982,"November 19, 1982 (United States)",7.10,"1,800.00",Directors,John W. Dunn,Mel Blanc,United States,NaN,"78,350.00",Warner Bros. Animation,74.00
355,Twilight Zone: The Movie,PG,Horror,1983,"June 24, 1983 (United States)",6.50,"34,000.00",Directors,John Landis,Dan Aykroyd,United States,"10,000,000.00","29,450,919.00",Amblin Entertainment,101.00
773,Godzilla 1985,PG,Action,1985,"August 23, 1985 (United States)",6.20,"6,100.00",Directors,Reuben Bercovitch,Raymond Burr,Japan,"2,000,000.00","4,116,395.00",Toho Company,87.00
783,He-Man and She-Ra: The Secret of the Sword,G,Animation,1985,"March 22, 1985 (United States)",7.30,"2,600.00",Directors,Larry DiTillio,John Erwin,United States,"2,000,000.00","7,660,857.00",Filmation Associates,100.00
902,The Great Mouse Detective,G,Animation,1986,"July 2, 1986 (United States)",7.20,"46,000.00",Directors,Peter Young,Vincent Price,United States,"14,000,000.00","38,625,550.00",Walt Disney Pictures,74.00
1011,My Little Pony: The Movie,G,Animation,1986,"June 6, 1986 (United States)",6.00,"2,500.00",Directors,George Arthur Bloom,Danny DeVito,United States,NaN,"5,958,456.00",Sunbow Productions,86.00
1103,Amazon Women on the Moon,R,Comedy,1987,"September 18, 1987 (United States)",6.20,"10,000.00",Directors,Michael Barrie,Rosanna Arquette,United States,NaN,"548,696.00",Universal Pictures,85.00
1109,Aria,R,Comedy,1987,"September 15, 1987 (United States)",5.80,"2,600.00",Directors,Robert Altman,John Hurt,United Kingdom,NaN,"1,028,679.00",Lightyear Entertainment,90.00
2341,Batman: Mask of the Phantasm,PG,Animation,1993,"December 25, 1993 (United States)",7.80,"45,000.00",Directors,Alan Burnett,Kevin Conroy,United States,"6,000,000.00","5,635,204.00",Warner Bros. Animation,76.00
2357,We're Back! A Dinosaur's Story,G,Animation,1993,"November 24, 1993 (United States)",6.10,"14,000.00",Directors,John Patrick Shanley,John Goodman,United States,NaN,"9,317,021.00",Universal Pictures,72.00
2673,Four Rooms,R,Comedy,1995,"December 25, 1995 (United States)",6.80,"100,000.00",Directors,Allison Anders,Tim Roth,United States,"4,000,000.00","4,257,354.00",Miramax,98.00
2913,Beavis and Butt-Head Do America,PG-13,Animation,1996,"December 20, 1996 (United States)",6.80,"53,000.00",Directors,Mike Judge,Mike Judge,United States,"12,000,000.00","63,118,386.00",Paramount Pictures,81.00
3570,Fantasia 2000,G,Animation,1999,"June 16, 2000 (United States)",7.20,"36,000.00",Directors,Eric Goldberg,James Levine,United States,"80,000,000.00","90,874,570.00",Walt Disney Pictures,75.00
3834,Digimon: The Movie,PG,Animation,2000,"October 6, 2000 (United States)",6.10,"7,000.00",Directors,Akiyoshi Hongo,Lara Jill Miller,United States,"5,000,000.00","16,643,191.00",Saban Entertainment,82.00
4964,"Paris, je t'aime",R,Comedy,2006,"June 15, 2007 (United States)",7.20,"71,000.00",Directors,Tristan Carné,Juliette Binoche,France,"13,000,000.00","17,471,727.00",Victoires International,120.00
5071,Grindhouse,R,Action,2007,"April 6, 2007 (United States)",7.50,"180,000.00",Directors,Robert Rodriguez,Kurt Russell,United States,"67,000,000.00","25,422,088.00",Dimension Films,191.00
5409,"New York, I Love You",R,Comedy,2008,"October 16, 2009 (United States)",6.20,"45,000.00",Directors,Hu Hong,Shia LaBeouf,United States,"14,700,000.00","14,603,177.00",Vivendi Entertainment,103.00
6144,V/H/S,R,Horror,2012,"September 6, 2012 (Russia)",5.80,"58,000.00",Directors,Brad Miska,Calvin Reeder,United States,NaN,"1,944,287.00",8383 Productions,116.00
6221,The ABCs of Death,Not Rated,Comedy,2012,"April 26, 2013 (United Kingdom)",4.70,"18,000.00",Directors,Ant Timpson,Ingrid Bolsø Berdal,United States,NaN,"23,589.00",Magnet Releasing,129.00
6276,Movie 43,R,Comedy,2013,"January 25, 2013 (United States)",4.30,"101,000.00",Directors,Rocky Russo,Emma Stone,United States,"6,000,000.00","32,443,111.00",Relativity Media,94.00
6427,V/H/S/2,R,Horror,2013,"June 6, 2013 (United States)",6.00,"37,000.00",Directors,Simon Barrett,Lawrence Michael Levine,United States,NaN,"805,574.00",The Collective Studios,96.00
6817,Southbound,R,Horror,2015,"February 9, 2016 (United States)",5.90,"17,000.00",Directors,Matt Bettinelli-Olpin,Chad Villella,United States,NaN,"35,275.00",Soapbox Films,89.00
6854,Moana,PG,Animation,2016,"November 23, 2016 (United States)",7.60,"289,000.00",Directors,Jared Bush,Auli'i Cravalho,United States,"150,000,000.00","644,411,850.00",Hurwitz Creative,107.00
7001,Leap!,PG,Animation,2016,"August 25, 2017 (United States)",6.80,"21,000.00",Directors,Eric Summer,Elle Fanning,France,"30,000,000.00","106,127,278.00",Quad Productions,89.00

In [270]:
# Found data from the internet
film_directors = {
    "The Fox and the Hound": "Ted Berman",
    "Bugs Bunny's 3rd Movie: 1001 Rabbit Tales": "Friz Freleng",
    "Twilight Zone: The Movie": "John Landis",
    "Godzilla 1985": "Koji Hashimoto",
    "He-Man and She-Ra: The Secret of the Sword": "Ed Friedman",
    "The Great Mouse Detective": "Ron Clements",
    "My Little Pony: The Movie": "Michael Joens",
    "Amazon Women on the Moon": "John Landis",
    "Aria": "Robert Altman",
    "Batman: Mask of the Phantasm": "Bruce Timm",
    "We're Back! A Dinosaur's Story": "Dick Zondag",
    "Four Rooms": "Allison Anders",
    "Beavis and Butt-Head Do America": "Mike Judge",
    "Fantasia 2000": "James Algar",
    "Digimon: The Movie": "Mamoru Hosoda",
    "Paris, je t'aime": "Olivier Assayas",
    "Grindhouse": "Robert Rodriguez",
    "New York, I Love You": "Fatih Akin",
    "V/H/S": "Matt Bettinelli-Olpin",
    "The ABCs of Death": "Kaare Andrews",
    "Movie 43": "Elizabeth Banks",
    "V/H/S/2": "Simon Barrett",
    "Southbound": "Roxanne Benjamin",
    "Moana": "Ron Clements",
    "Leap!": "Eric Summer"
}

for movie,director in film_directors.items():
    df.loc[df["name"] == movie, "director"] = director

In [271]:
df[df['director'] == 'Directors']

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company, runtime]
Index: []

In [272]:
# filling missing budget values with mean of budgets
df['budget'].fillna(df['budget'].mean(),inplace = True)

In [273]:
# Checking if there is missing value left
df[df["budget"].isnull()]

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company, runtime]
Index: []

In [274]:
df[df["company"].isnull()]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
408,A Night in Heaven,R,Drama,1983,"November 18, 1983 (United States)",4.30,"1,200.00",John G. Avildsen,Joan Tewkesbury,Christopher Atkins,United States,"35,998,144.20","5,563,663.00",NaN,83.00
633,The Bear,PG,Biography,1984,"September 28, 1984 (United States)",6.10,270.00,Richard C. Sarafian,Michael Kane,Gary Busey,United States,"221,000.00","2,687,148.00",NaN,110.00
969,Modern Girls,PG-13,Comedy,1986,"November 7, 1986 (United States)",5.80,"1,300.00",Jerry Kramer,Laurie Craig,Daphne Zuniga,United States,"35,998,144.20","604,849.00",NaN,84.00
1033,P.O.W. the Escape,R,Action,1986,"April 4, 1986 (United States)",5.00,533.00,Gideon Amir,Malcolm Barbour,David Carradine,United States,"35,998,144.20","2,497,233.00",NaN,90.00
1572,Heart of Dixie,PG,Drama,1989,"August 25, 1989 (United States)",5.20,677.00,Martin Davidson,Anne Rivers Siddons,Ally Sheedy,United States,"8,000,000.00","1,097,333.00",NaN,95.00
1594,Lost Angels,R,Drama,1989,"May 5, 1989 (United States)",6.00,881.00,Hugh Hudson,Michael Weller,Donald Sutherland,United States,"35,998,144.20","1,247,946.00",NaN,116.00
1630,Staying Together,R,Comedy,1989,"November 10, 1989 (United States)",6.20,761.00,Lee Grant,Monte Merrick,Sean Astin,United States,"35,998,144.20","4,348,025.00",NaN,91.00
1806,Streets,R,Action,1990,"January 19, 1990 (United States)",5.70,712.00,Katt Shea,Andy Ruben,Christina Applegate,United States,"35,998,144.20","1,510,053.00",NaN,85.00
7599,End of the Century,Unrated,Drama,2019,"August 16, 2019 (United States)",6.90,"2,700.00",Lucio Castro,Lucio Castro,Juan Barberini,Argentina,"35,998,144.20","103,047.00",NaN,84.00

In [275]:
# Found data from the internet
movies_company_names = {
    'A Night in Heaven': '20th Century Fox',
    'The Bear': 'Renn Productions, Gaumont, Columbia Pictures',
    'Modern Girls': 'Atlantic Entertainment Group, New World Pictures',
    'P.O.W. the Escape': 'De Laurentiis Entertainment Group',
    'Heart of Dixie': 'HBO Pictures, Island Pictures',
    'Lost Angels': 'Hemdale Film Corporation, Island Pictures',
    'Staying Together': 'Hemdale Film Corporation',
    'Streets': 'Atlantic Entertainment Group, New World Pictures',
    'End of the Century': 'MAFILM, NFDC'
}

for names,company in movies_company_names.items():
    df.loc[df["name"] == names, "company"] = company

In [276]:
# Checking if there is missing value left
df[df["company"].isnull()]

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company, runtime]
Index: []

In [277]:
df[df["writer"].isnull()]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
1820,The Garden,Unrated,Drama,1990,1990 (United States),6.40,840.00,Derek Jarman,NaN,Tilda Swinton,United Kingdom,"35,998,144.20","5,006.00",Basilisk Communications,92.00
5834,The Trip,Not Rated,Comedy,2010,"April 24, 2011 (Greece)",7.00,"22,000.00",Michael Winterbottom,NaN,Steve Coogan,United Kingdom,"35,998,144.20","3,945,217.00",Baby Cow Productions,112.00
7655,Legend of Deification,TV-PG,Animation,2020,"October 1, 2020 (United States)",6.60,"1,300.00",Teng Cheng,NaN,Guangtao Jiang,China,"35,998,144.20","240,663,149.00",Beijing Enlight Pictures,110.00

In [278]:
df.loc[(df['name'] == "The Garden") & (df['director'] == 'Derek Jarman'),'writer'] = "Derek Jarman"
df.loc[(df['name'] == "The Trip") & (df['director'] == 'Michael Winterbottom'),'writer'] = "Steve Coogan"
df.loc[(df['name'] == "Legend of Deification") & (df['director'] == 'Teng Cheng'),'writer'] = "Li Wei"

In [279]:
# Checking if there is missing value left
df[df["writer"].isnull()]

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company, runtime]
Index: []

In [280]:
df[df["runtime"].isnull()]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
6195,One for the Money,PG-13,Action,2012,"January 27, 2012 (United States)",5.30,"41,000.00",Julie Anne Robinson,Stacy Sherman,Katherine Heigl,United States,"40,000,000.00","38,084,162.00",Lakeshore Entertainment,NaN

In [281]:
df.loc[(df['name'] == "One for the Money") & (df['director'] == 'Julie Anne Robinson'),'runtime'] = 91.0

In [282]:
# Checking if there is missing value left
df[df["runtime"].isnull()]

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company, runtime]
Index: []

In [286]:
# There are no missing values anymore

df.isna().sum()

name        0
rating      0
genre       0
year        0
released    0
score       0
votes       0
director    0
writer      0
star        0
country     0
budget      0
gross       0
company     0
runtime     0
dtype: int64

In [287]:
# Initially there were 7668 pieces of data
# Now there are 7425 pieces
df.shape

(7425, 15)

### Editing Released Column

In [288]:
# Let's clean up the values in the "Released" column from unnecessary details 
# and convert the data type from object to datetime.

df["released"] = df["released"].astype(str)

df['released'] = df['released'].str.replace(r'\(.*\)', '',regex = True).str.strip()

# This code doesn't work right now because not all values are like 'June 13, 1984'
#df['released'] = pd.to_datetime(df['released'], format='%B %d, %Y')

# errors = 'coerce' generates NaT values instead of bad entries
df['released'] = pd.to_datetime(df['released'], format='%B %d, %Y', errors='coerce')

# Determining values that don't have %B %d, %Y format
na_values = df.loc[df['released'].isna()]
na_values

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
312,Five Days One Summer,PG,Drama,1982,NaT,6.10,"1,000.00",Fred Zinnemann,Michael Austin,Sean Connery,United States,"15,000,000.00","199,078.00",Cable and Wireless Finance,108.00
376,Nostalghia,Not Rated,Drama,1983,NaT,8.10,"24,000.00",Andrei Tarkovsky,Andrei Tarkovsky,Oleg Yankovskiy,Italy,"35,998,144.20","55,269.00",Rai 2,125.00
439,Heat and Dust,R,Drama,1983,NaT,6.60,"1,600.00",James Ivory,Ruth Prawer Jhabvala,Julie Christie,United Kingdom,"35,998,144.20","1,772,889.00",Merchant Ivory Productions,130.00
449,Getting It on,R,Comedy,1983,NaT,3.70,208.00,William Olsen,William Olsen,Martin Yost,United States,"220,000.00","975,414.00",Seventh Avenue Films,96.00
463,Slayground,R,Crime,1983,NaT,4.90,360.00,Terry Bedford,Trevor Preston,Peter Coyote,United Kingdom,"35,998,144.20","108,128.00",Jennie and Company,89.00
467,My Brother's Wedding,Not Rated,Drama,1983,NaT,7.20,826.00,Charles Burnett,Charles Burnett,Everett Silas,United States,"50,000.00","26,177.00",Charles Burnett Productions,115.00
719,Tampopo,Not Rated,Comedy,1985,NaT,8.00,"17,000.00",Jûzô Itami,Jûzô Itami,Ken Watanabe,Japan,"35,998,144.20","444,213.00",Itami Productions,114.00
731,Trouble in Mind,R,Comedy,1985,NaT,6.50,"1,800.00",Alan Rudolph,Alan Rudolph,Kris Kristofferson,United States,"35,998,144.20","19,632.00",Pfeiffer/Blocker Production,111.00
786,Taipei Story,Not Rated,Drama,1985,NaT,7.70,"2,500.00",Edward Yang,T'ien-wen Chu,Chin Tsai,Taiwan,"35,998,144.20","35,336.00",Evergreen Film Company,119.00
800,O.C. and Stiggs,R,Comedy,1985,NaT,5.40,"1,200.00",Robert Altman,Tod Carroll,Daniel Jenkins,United States,"7,000,000.00","29,815.00",Metro-Goldwyn-Mayer (MGM),109.00
1035,Duet for One,R,Drama,1986,NaT,6.80,840.00,Andrey Konchalovskiy,Tom Kempinski,Julie Andrews,United States,"35,998,144.20","8,736.00",Golan-Globus Productions,107.00
1173,The House on Carroll Street,PG,Thriller,1987,NaT,6.10,"2,300.00",Peter Yates,Walter Bernstein,Kelly McGillis,United States,"14,000,000.00","459,824.00",Orion Pictures,101.00
1212,Five Corners,R,Crime,1987,NaT,6.20,"3,100.00",Tony Bill,John Patrick Shanley,Jodie Foster,United Kingdom,"5,500,000.00","969,205.00",Cineplex Odeon Films,90.00
1227,A Man in Love,R,Drama,1987,NaT,5.90,541.00,Diane Kurys,Diane Kurys,Peter Coyote,France,"35,998,144.20","949,451.00",Alexandre Films,125.00
1385,Drowning by Numbers,R,Comedy,1988,NaT,7.20,"8,300.00",Peter Greenaway,Peter Greenaway,Bernard Hill,United Kingdom,"35,998,144.20","424,773.00",Film Four International,118.00
1395,Chocolat,PG-13,Drama,1988,NaT,7.30,"3,100.00",Claire Denis,Claire Denis,Isaach De Bankolé,France,"35,998,144.20","2,319,801.00",Caroline Productions,105.00
1404,Stormy Monday,R,Crime,1988,NaT,6.20,"3,800.00",Mike Figgis,Mike Figgis,Melanie Griffith,United Kingdom,"4,000,000.00","1,791,328.00",Atlantic Entertainment Group,93.00
1415,Pascali's Island,PG-13,Drama,1988,NaT,6.80,"1,200.00",James Dearden,James Dearden,Ben Kingsley,United Kingdom,"35,998,144.20","1,451,857.00",Avenue Pictures,104.00
1428,Platoon Leader,R,Drama,1988,NaT,5.40,"1,600.00",Aaron Norris,Andrew Deutsch,Tony Pierce,United States,"35,998,144.20","1,348,771.00",Cannon International,97.00
1599,Slaves of New York,R,Comedy,1989,NaT,5.70,917.00,James Ivory,Tama Janowitz,Bernadette Peters,United States,"35,998,144.20","463,972.00",TriStar Pictures,124.00
1602,Scenes from the Class Struggle in Beverly Hills,R,Comedy,1989,NaT,6.00,"1,200.00",Paul Bartel,Paul Bartel,Jacqueline Bisset,United States,"35,998,144.20","2,156,471.00",North Street Films,103.00
1621,Monsieur Hire,PG-13,Crime,1989,NaT,7.60,"6,100.00",Patrice Leconte,Georges Simenon,Michel Blanc,France,"35,998,144.20","1,417,030.00",Cinéa,81.00
1623,Too Beautiful for You,R,Comedy,1989,NaT,6.80,"2,600.00",Bertrand Blier,Bertrand Blier,Gérard Depardieu,France,"35,998,144.20","1,776,440.00",Ciné Valse,91.00
1636,Rosalie Goes Shopping,PG,Comedy,1989,NaT,5.80,877.00,Percy Adlon,Christopher Doherty,Marianne Sägebrecht,United States,"35,998,144.20","574,080.00",Bayerischer Rundfunk (BR),94.00
1680,Nikita,R,Action,1990,NaT,7.30,"69,000.00",Luc Besson,Luc Besson,Anne Parillaud,France,"35,998,144.20","5,017,971.00",Gaumont,117.00
1735,The Comfort of Strangers,R,Drama,1990,NaT,6.30,"5,000.00",Paul Schrader,Ian McEwan,Christopher Walken,United States,"35,998,144.20","1,244,381.00",Erre Produzioni,107.00
1753,Life Is Sweet,R,Comedy,1990,NaT,7.50,"9,500.00",Mike Leigh,Mike Leigh,Alison Steadman,United Kingdom,"35,998,144.20","1,516,414.00",British Screen Productions,103.00
1765,The Field,PG-13,Drama,1990,NaT,7.40,"5,800.00",Jim Sheridan,Jim Sheridan,Richard Harris,Ireland,"35,998,144.20","1,494,399.00",Granada Television,107.00
1772,Ju Dou,PG-13,Drama,1990,NaT,7.70,"7,800.00",Yimou Zhang,Heng Liu,Gong Li,China,"35,998,144.20","1,986,433.00",China Film Co-Production Corporation,95.00
1797,Hidden Agenda,R,Drama,1990,NaT,6.90,"3,700.00",Ken Loach,Jim Allen,Frances McDormand,United Kingdom,"35,998,144.20","1,232,210.00",Hemdale,108.00
1804,My Father's Glory,G,Adventure,1990,NaT,7.60,"6,200.00",Yves Robert,Louis Nucéra,Philippe Caubère,France,"35,998,144.20","1,730,856.00",Gaumont,105.00
1819,Come See the Paradise,R,Drama,1990,NaT,6.70,"2,600.00",Alan Parker,Alan Parker,Dennis Quaid,United States,"17,500,000.00","947,306.00",Twentieth Century Fox,138.00
1820,The Garden,Unrated,Drama,1990,NaT,6.40,840.00,Derek Jarman,Derek Jarman,Tilda Swinton,United Kingdom,"35,998,144.20","5,006.00",Basilisk Communications,92.00
1823,May Fools,R,Comedy,1990,NaT,7.30,"2,900.00",Louis Malle,Louis Malle,Miou-Miou,France,"35,998,144.20","1,576,702.00",Nouvelles Éditions de Films (NEF),107.00
1841,The Nasty Girl,PG-13,Comedy,1990,NaT,7.30,"2,500.00",Michael Verhoeven,Michael Verhoeven,Lena Stolze,West Germany,"35,998,144.20","2,293,625.00",Filmverlag der Autoren,92.00
1947,Hear My Song,R,Comedy,1991,NaT,7.00,"1,600.00",Peter Chelsom,Peter Chelsom,Ned Beatty,Ireland,"35,998,144.20","4,313,473.00",British Screen Productions,104.00
1985,The Adjuster,R,Comedy,1991,NaT,6.70,"3,300.00",Atom Egoyan,Atom Egoyan,Elias Koteas,Canada,"35,998,144.20","396,573.00",Alliance Entertainment,102.00
2000,Impromptu,PG-13,Biography,1991,NaT,6.90,"4,800.00",James Lapine,Sarah Kernochan,Judy Davis,United States,"35,998,144.20","4,076,211.00",C.L.G. Films,107.00
2029,Liebestraum,R,Mystery,1991,NaT,5.90,"1,500.00",Mike Figgis,Mike Figgis,Kevin Anderson,United States,"6,900,000.00","133,645.00",Initial Entertainment Group (IEG),112.00
2318,Killing Zoe,R,Crime,1993,NaT,6.50,"20,000.00",Roger Avary,Roger Avary,Eric Stoltz,France,"1,500,000.00","418,961.00",Davis-Films,96.00
2319,Cronos,R,Fantasy,1993,NaT,6.70,"28,000.00",Guillermo del Toro,Guillermo del Toro,Federico Luppi,Mexico,"2,000,000.00","621,392.00",CNCAIMC,94.00
2427,Bhaji on the Beach,R,Comedy,1993,NaT,6.40,"1,100.00",Gurinder Chadha,Gurinder Chadha,Kim Vithana,United Kingdom,"35,998,144.20","735,162.00",Channel Four Films,101.00
2525,Torment,Not Rated,Crime,1994,NaT,7.10,"4,500.00",Claude Chabrol,Claude Chabrol,Emmanuelle Béart,France,"35,998,144.20","39,003.00",MK2 Productions,102.00
2816,The White Balloon,Unrated,Drama,1995,NaT,7.70,"6,900.00",Jafar Panahi,Abbas Kiarostami,Aida Mohammadkhani,Iran,"150,000.00","924,940.00",Farabi Cinema Foundation,85.00
4187,Dahmer,R,Biography,2002,NaT,5.60,"9,700.00",David Jacobson,David Birke,Jeremy Renner,United States,"250,000.00","144,008.00",Blockbuster Films,101.00
5833,Hatchet II,R,Action,2010,NaT,5.50,"13,000.00",Adam Green,Adam Green,Danielle Harris,United States,"800,000.00","156,190.00",ArieScope Pictures,85.00
5958,The Human Centipede II (Full Sequence),Not Rated,Horror,2011,NaT,3.80,"37,000.00",Tom Six,Tom Six,Laurence R. Harvey,Netherlands,"35,998,144.20","170,323.00",Six Entertainment Company,91.00
6413,Romeo and Juliet,PG-13,Drama,2013,NaT,5.80,"11,000.00",Carlo Carlei,Arthur Brooke,Hailee Steinfeld,United Kingdom,"35,998,144.20","2,966,268.00",Amber Entertainment,118.00

In [289]:
# Found data from the internet
# Changing some NaT values

movies_and_dates = {
  "Five Days One Summer": "1982-07-23",
  "Nostalghia": "1983-06-01",
  "Heat and Dust": "1983-08-05",
  "Getting It on": "1983-11-04",
  "Slayground": "1984-01-13",
  "My Brother's Wedding": "1984-09-07",
  "Tampopo": "1985-04-19",
  "Trouble in Mind": "1985-09-13",
  "Taipei Story": "1985-11-20",
  "O.C. and Stiggs": "1987-03-27",
  "Duet for One": "1988-05-27",
  "The House on Carroll Street": "1988-08-05",
  "Five Corners": "1988-09-09",
  "A Man in Love": "1988-09-23",
  "Drowning by Numbers": "1988-10-14",
  "Chocolat": "1988-12-22",
  "Stormy Monday": "1988-12-23",
  "Pascali's Island": "1988-12-23",
  "Platoon Leader": "1988-12-31",
  "Slaves of New York": "1989-03-17",
  "Scenes from the Class Struggle in Beverly Hills": "1989-04-05",
  "Monsieur Hire": "1989-05-03",
  "Too Beautiful for You": "1989-05-24",
  "Rosalie Goes Shopping": "1989-08-11",
  "Nikita": "1990-02-21",
  "The Comfort of Strangers": "1991-06-14",
  "Life Is Sweet": "1991-10-25",
  "The Field": "1991-12-20",
  "Ju Dou": "1991-12-25",
  "Hidden Agenda": "1991-12-25",
  "My Father's Glory": "1991-12-25",
  "Come See the Paradise": "1991-12-25",
  "The Garden": "1991-12-25",
  "May Fools": "1991-12-25",
  "The Nasty Girl": "1991-12-25",
  "Hear My Song": "1991-12-27",
  "The Adjuster": "1992-05-15",
  "Impromptu": "1992-06-05",
  "Liebestraum": "1992-08-14",
  "Killing Zoe": "1994-10-01",
  "Cronos": "1994-10-07",
  "Bhaji on the Beach": "1994-11-10",
  "Torment": "1994-12-02",
  "The White Balloon": "1995-02-17",
  "Dahmer": "2002-06-21",
  "Hatchet II": "2010-08-26",
  "The Human Centipede II (Full Sequence)": "2011-10-07",
  "Romeo and Juliet": "2013-10-11"
}

for names, dates in movies_and_dates.items():
    df.loc[df["name"] == names,"released"] = pd.to_datetime(dates, format = '%Y-%m-%d')

In [290]:
df.loc[df['released'].isna()]

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company, runtime]
Index: []

In [291]:
# Let's remove year column, we will use released column when we need year value

df = df.drop(['year'], axis = 1)

In [292]:
df.head()

,name,rating,genre,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980-06-13,8.40,"927,000.00",Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,"19,000,000.00","46,998,772.00",Warner Bros.,146.00
1,The Blue Lagoon,R,Adventure,1980-07-02,5.80,"65,000.00",Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,"4,500,000.00","58,853,106.00",Columbia Pictures,104.00
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980-06-20,8.70,"1,200,000.00",Irvin Kershner,Leigh Brackett,Mark Hamill,United States,"18,000,000.00","538,375,067.00",Lucasfilm,124.00
3,Airplane!,PG,Comedy,1980-07-02,7.70,"221,000.00",Jim Abrahams,Jim Abrahams,Robert Hays,United States,"3,500,000.00","83,453,539.00",Paramount Pictures,88.00
4,Caddyshack,R,Comedy,1980-07-25,7.30,"108,000.00",Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,"6,000,000.00","39,846,344.00",Orion Pictures,98.00

In [293]:
df.tail()

,name,rating,genre,released,score,votes,director,writer,star,country,budget,gross,company,runtime
7652,The Eight Hundred,Not Rated,Action,2020-08-28,6.80,"3,700.00",Hu Guan,Hu Guan,Zhi-zhong Huang,China,"80,000,000.00","461,421,559.00",Beijing Diqi Yinxiang Entertainment,149.00
7653,The Quarry,R,Crime,2020-04-17,5.40,"2,400.00",Scott Teems,Scott Teems,Shea Whigham,United States,"35,998,144.20","3,661.00",Prowess Pictures,98.00
7655,Legend of Deification,TV-PG,Animation,2020-10-01,6.60,"1,300.00",Teng Cheng,Li Wei,Guangtao Jiang,China,"35,998,144.20","240,663,149.00",Beijing Enlight Pictures,110.00
7656,Tulsa,PG-13,Comedy,2020-06-03,5.00,294.00,Scott Pryor,Scott Pryor,Scott Pryor,United States,"35,998,144.20","413,378.00",Pryor Entertainment,120.00
7659,I Am Fear,Not Rated,Horror,2020-03-03,3.40,447.00,Kevin Shulman,Kevin Shulman,Kristina Klebe,United States,"35,998,144.20","13,266.00",Roxwell Films,87.00